<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand"> 
      <img src="../../../assets/images/favicon-32x32.png" alt="" width="30" height="24"
        class="d-inline-block align-text-top">
      Movie Booking App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Book Tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Reset Password</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Bookings</a></li>
            <li><a class="dropdown-item" href="#">Update status</a></li>
            <li><a class="dropdown-item" href="#">Delete A movie</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>